.body {
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f7f7f7;

}
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.work form {
    flex-basis: calc(50% - 10px); /* 幅を50%に設定し、間隔を追加 */
    margin: 5px;
}


.work__btn {
    display: inline-block;
    margin: 10px 0;
}

.work__in {
    width: 100%; /* ボタンを親要素の幅いっぱいに設定 */
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}


.disabled {
    opacity: 0.2;
    pointer-events: none;  // ボタンを押せないようにする
}
