.body {
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f7f7f7;
}

.alert-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 10;
    transition: opacity 1s;
    font-size: 2.0rem;
}

.work__status {
    display: flex;
    justify-content: center;
    align-items: center;
}


.work__status--inner{
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
}


.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px 60px;
}

.work form {
    flex-basis: calc(50% - 10px);
}


.work__btn {
    display: inline-block;
}

#work__btn--right{
    text-align: left;
}

#work__btn--left{
    text-align: right;
}

.work__in {
    width: 70%;
    height: 200px;
    margin: 20px 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: white;
}

button:hover {
    opacity: 0.8;
}

.disabled {
    color: lightgray;
    pointer-events: none;
}
