html {
    overflow-y: scroll;
}

.sys_menu{
    border-top: 1px solid #a1a1a1;
}

.day__btn {
    background-color: #FFFFFF;
    color: #2384cf;
    border: 1px solid #2384cf;
    border-radius: 3px;
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    padding: 0;
    margin: 0 25px;
}

.rlt{
    padding: 40px 0 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.rlt_ttl{
    width: 50px;
    text-align: left;
    padding: 20px 0 20px 80px;
    font-weight: bold;
}

.rlt_ttl a {
    text-decoration: underline;
    color: blue;
}

.rlt_ttl--data{
    width: 78px;
}

.rlt_btn{
    align-items: end;
}

.rlt__table__inner{
    width: 90%;
}

.pagination__main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.day-link {
    box-sizing: border-box;
    padding: 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.disabled-link {
    color: #a0a0a0;
    pointer-events: none;
    cursor: default;
    border: none;
}

.page-item {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #2384cf;
    padding: 0;
    margin: 0;
}

.page-link {
    box-sizing: border-box;
    padding: 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    display: block;
}

li.disabled .page-link {
    color: grey;
    cursor: default;
}

.pagination li {
    display: inline-block;
}

.page-item.active .page-link {
    background-color: #2384cf;
    color: #ffffff;
    border: none;
}

@media screen and (max-width: 1000px){
    .rlt{
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px){
    .rlt_ttl{
        padding-left: 0;
    }
}
